<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div> -->

<aside class="menu-sidebar2">
    <div class="logo">


        <span style="padding: 20px; color:#fff">Incubator Manager</span>

    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
        <div class="account2">
            <div class="image img-cir img-120">
                <img src="../assets/icons/eggs.jpg" alt="John Doe" />
            </div>
            <h4 class="name">Admin</h4>
        </div>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a routerLink="home">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a routerLink="add">
                        <i class="fas fa-plus"></i>Add Project</a>
                </li>
                <li>
                    <a routerLink="active">
                        <i class="fas fa-signal"></i>Active Projects</a>
                </li>
                <li>
                    <a routerLink="hatching">
                        <i class="fas fa-ticket-alt"></i>Hatching</a>
                </li>
                <li>
                    <a routerLink="history">
                        <i class="fas fa-history"></i>History</a>
                </li>
                <li>
                    <a routerLink="stats">
                        <i class="fas fa-bar-chart"></i>Reports</a>
                </li>
                <li>
            </ul>
        </nav>
    </div>
</aside>